Repository EFForg/privacybadger, pull requests merged in 2018-03, with the labels that each got.

#1907 Add firefoxusercontent.com to the mozilla group
  src/js/multiDomainFirstParties.js
Labels: MDFP

#1905 Update googletagservices.com surrogate
  src/data/surrogates.js
Labels: surrogates

#1916 Update Kaltura
  src/data/yellowlist.txt
Labels: yellowlist

#1919 Add pandacommerce.net to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#1920 Add more cnetcontent.com domains to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#1923 Add assets-cdk.com to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#1924 Add tradingview.com to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#1928 Add fbsbx.com to Facebook's MDFP list
  src/js/multiDomainFirstParties.js
Labels: MDFP

#1921 Add Glassdoor to MDFP
  src/js/multiDomainFirstParties.js
Labels: MDFP

#1922 Add some Adobe properties to MDFP list
  src/js/multiDomainFirstParties.js
Labels: MDFP
