Repository EFForg/privacybadger, pull requests merged in 2018-07, with the labels that each got.

#2084 Improve wording around list of sites Badger is disabled on
  src/_locales/en_US/messages.json
Labels: translations

#2061 Add fontawesome.com to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2067 Add all of openstreetmap.org to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2077 Adds Recurly to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2087 Add webflow.com to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2113 Make Soundcloud contentscript match more specific
  src/data/socialwidgets.json
  src/js/contentscripts/socialwidgets.js
Labels: widgets

#2107 Add unittest for Facebook first-party script
  src/tests/tests/firstparties.js
Labels: tests
