Repository EFForg/privacybadger, pull requests merged in 2019-06, with the labels that each got.

#2378 ignores error messages related to Firefox IndexedDB issues
  src/js/storage.js
Labels: Firefox, bug

#2381 Add atl-paas.net to Atlassian's MDFP domain list
  src/js/multiDomainFirstParties.js
Labels: MDFP

#2380 Add Crate and Barrel domains to MDFP list
  src/js/multiDomainFirstParties.js
Labels: MDFP

#2382 Add officeapps.live.com to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2383 Update MDFP list for Alibaba Group
  src/js/multiDomainFirstParties.js
Labels: MDFP

#2386 Add assets.adobedtm.com to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2388 Add turnto.com to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2387 Add onedrive.live.com to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2176 Add verify.monzo.com to the yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2389 Add pay.google.com to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2390 Add pwc.chase.com to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2398 Add salesforceliveagent.com to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2399 Update the MDFP list for French government mapping domains
  src/js/multiDomainFirstParties.js
Labels: MDFP

#2406 Add Nine Entertainment Co. news domains to MDFP
  src/js/multiDomainFirstParties.js
Labels: MDFP
