Repository EFForg/privacybadger, pull requests merged in 2019-02, with the labels that each got.

#2289 In which we add Linkfire to MDFP
  src/js/multiDomainFirstParties.js
Labels: MDFP

#2243 Add myshopify.com to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2245 Add consensu.org to yellowlist
  src/data/yellowlist.txt
Labels: gdpr, yellowlist

#2282 Add more domains to Yandex's MDFP list
  src/js/multiDomainFirstParties.js
Labels: MDFP

#2284 Add PriceRunner domains to MDFP list
  src/js/multiDomainFirstParties.js
Labels: MDFP

#2272 Add duosecurity.com to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2285 Add Vinted domains to MDFP list
  src/js/multiDomainFirstParties.js
Labels: MDFP

#2286 Add bigcommerce.com to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2293 Update MDFP domain list for Fandom (Wikia)
  src/js/multiDomainFirstParties.js
Labels: MDFP

#2294 Add NPO domains to MDFP
  src/js/multiDomainFirstParties.js
Labels: MDFP

#2295 Add epoq.de to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2296 Add Schibsted domains to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2098 Update yellowlist.txt: please add et4.de
  src/data/yellowlist.txt
Labels: yellowlist

#2298 Add a few Orange S.A. domains to MDFP list
  src/js/multiDomainFirstParties.js
Labels: MDFP

#2299 Add Houzz domains to MDFP list
  src/js/multiDomainFirstParties.js
Labels: MDFP

#2301 Add two Vonage domains to MDFP list
  src/js/multiDomainFirstParties.js
Labels: MDFP

#2302 Add geetest.com to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2303 Add editmysite.com to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2304 Update MDFP list for CBS Corporation
  src/js/multiDomainFirstParties.js
Labels: MDFP

#2306 Add redcdn.pl to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2310 Add smartlock.google.com to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2311 Add weebly.com to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2312 Add payments-amazon.com to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2315 Add a couple of French government domains
  src/js/multiDomainFirstParties.js
Labels: MDFP
