Repository EFForg/privacybadger, pull requests merged in 2020-06, with the labels that each got.

#2621 Remove Twitter t.co link unwrapping
  README.md
  src/js/firstparties/twitter.js
  src/manifest.json
  src/tests/tests/firstparties.js
Labels: first-party

#2279 Add Facebook Comments/Video, Twitch Player and YouTube (Privacy-Enhanced Mode) replacements
  src/data/socialwidgets.json
Labels: widgets

#2265 Add replacement widget for Coub
  src/data/socialwidgets.json
Labels: widgets

#2633 Add alipayobjects.com to the MDFP list of Alibaba
  src/js/multiDomainFirstParties.js
Labels: MDFP

#2613 Disqus Comment Widget Replacement
  src/data/socialwidgets.json
  src/js/contentscripts/socialwidgets.js
  src/js/webrequest.js
Labels: widgets
