Repository EFForg/privacybadger, pull requests merged in 2020-04, with the labels that each got.

#2573 added the missing prosiebenmaxx.at
  src/js/multiDomainFirstParties.js
Labels: MDFP

#2583 add some popular Chinese image sites to yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2589 Add Sina Weibo domains to MDFP
  src/js/multiDomainFirstParties.js
Labels: MDFP

#2592 Add RTL locale support to replacement widgets
  src/js/contentscripts/socialwidgets.js
  src/js/webrequest.js
  src/lib/i18n.js
Labels: translations, widgets

#2484 Only replace widgets that were actually blocked
  src/data/socialwidgets.json
  src/js/webrequest.js
Labels: widgets

#2561 Do not check DNT policies while still learning to block
  src/js/heuristicblocking.js
  src/js/storage.js
Labels: DNT policy
