Repository EFForg/privacybadger, pull requests merged in 2020-12, with the labels that each got.

#2714 Show Frame URL on Widget Replacement Divs
  src/_locales/en_US/messages.json
  src/js/contentscripts/socialwidgets.js
  src/js/webrequest.js
Labels: translations, widgets

#2721 Fixes for link cleaning on Facebook
  src/js/firstparties/facebook.js
  src/js/firstparties/lib/utils.js
Labels: first-party

#2722 Tweaks to navigator.globalPrivacyControl
  src/js/contentscripts/dnt.js
  tests/selenium/dnt_test.py
Labels: DNT policy
