Repository EFForg/privacybadger, pull requests merged in 2023-03, with the labels that each got.

#2874 Add tooltips that show where a domain was seen tracking to the list of domains in options
  src/_locales/en_US/messages.json
  src/js/htmlutils.js
  src/js/options.js
  src/js/popup.js
  src/js/webrequest.js
  src/skin/options-layout.css
  src/skin/options.html
  src/skin/popup.html
  src/tests/tests/htmlutils.js
  tests/selenium/options_test.py
Labels: translations

#2880 stripe.com -> js.stripe.com in yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2885 Add meta.miraheze.org to the yellowlist
  src/data/yellowlist.txt
Labels: yellowlist

#2887 Clean up migrations
  src/js/background.js
  src/js/migrations.js
  src/js/storage.js
  src/tests/tests/yellowlist.js
Labels: migrations

#2888 Disable Google's Topics API by default
  src/_locales/en_US/messages.json
  src/js/background.js
  src/js/options.js
  src/js/webrequest.js
  src/skin/options.html
Labels: translations

#2890 Add Discord CDNs to the yellowlist
  src/data/yellowlist.txt
Labels: yellowlist
